# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3

# Virtual environment
venv/
env/
*.env
*.DS_Store

# Django
*.log
db.sqlite3
media/
staticfiles/
static/

# IDE
.vscode/
.idea/
*.iml

# OS
Thumbs.db
