{% extends "base.html" %}
{% block content %}
<h1>Battleship Game</h1>
<p>Welcome to the game, {{ user.username }}</p>
<p>Game ID: {{ game.id }}</p>
<!--<div id="game-board">-->
<!--  <p>Waiting for players...</p>-->
<!--</div>-->

<!--<script src="https://cdn.jsdelivr.net/npm/vue@3.3.4/dist/vue.global.prod.js"></script>-->
<!--<script>-->
<!--  const app = Vue.createApp({-->
<!--    data() {-->
<!--      return {-->
<!--        message: "Welcome to Battleship!",-->
<!--      };-->
<!--    },-->
<!--    mounted() {-->
<!--      console.log(this.message)-->
<!--    }-->
<!--  });-->

<!--  app.mount("#game-board")-->
<!--</script>-->

{% endblock %}